﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>

    <environment include="Development">
        <link href="~/lib/semantic/dist/semantic.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
        <script src="~/node_modules/core-js/client/shim.js"></script>

        <!-- Polyfill(s) for older browsers -->

        <script src="~/node_modules/zone.js/dist/zone.js"></script>
        <script src="~/node_modules/reflect-metadata/Reflect.js"></script>
        <script src="~/node_modules/systemjs/dist/system.src.js"></script>
        <script src="~/node_modules/systemjs/dist/system.js"></script>
        <script src="~/systemjs.config.js"></script>
        <script>
            System.import('app/main').catch(function (err) { console.error(err); });
        </script>
    </environment>
    <environment exclude="Development">
        <link href="~/lib/semantic/dist/semantic.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <script src="~/node_modules/core-js/client/shim.js"></script>

        <!-- Polyfill(s) for older browsers -->

        <script src="~/node_modules/zone.js/dist/zone.js"></script>
        <script src="~/node_modules/reflect-metadata/Reflect.js"></script>
        <script src="~/node_modules/systemjs/dist/system.src.js"></script>
        <script src="~/node_modules/systemjs/dist/system.js"></script>
        <script src="~/systemjs.config.js"></script>

        <script>
            System.import('app/main').catch(function (err) { console.error(err); });
        </script>
    </environment>
    <script>
        System.config({
            packages: {
                'app': {
                    defaultExtension: 'js'
                }
            }
        });
        System.import('app/main').then(null, console.error.bind(console));
    </script>
</head>
<body>
    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - WebApplication2</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/semantic/dist/semantic.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/semantic/dist/semantic.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
