﻿@using System.Linq
@using Microsoft.AspNetCore.Identity
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{

}
<core-app></core-app>

@*<div class="ui raised very padded text container" style="margin-right:5%;">
    <h3 class="ui header centered">APP LOGIN FORM</h3>
    <form asp-controller="Main" asp-action="Index" method="post" class="ui large form validate-me" role="form">

        <div class="ui stack segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input asp-for="Username" placeholder="Username" />
                    <span asp-validation-for="Username" style="color:red;" ></span>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input asp-for="Password" placeholder="Password" />
                    <span asp-validation-for="Password" style="color:red;"></span>
                </div>
            </div>

            <div>
                <button class="ui blue button">
                    <i class="lock icon"></i>
                    LOGIN
                </button>
            </div>

            <div asp-validation-summary="All" class="ui error" style="color:red;"></div>

        </div>
        @Html.AntiForgeryToken()
    </form>
</div>*@



<div class="center aligned column">
    <h3 class="ui header centered">Use Another Service to Log In</h3>
    @{
//      Look up GetExternalAuthenticationSchemes for the newer async method below.
        var authenticationSchemes = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
        if (authenticationSchemes.Count == 0)
        {
            <div>
                <p>
                    There are no external authentication services configured.
                </p>
            </div>
                }
                else
                {
            <form asp-controller="Main" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                <div style="text-align:center;">
                    <p>
                        @foreach (var authenticationScheme in authenticationSchemes)
                        {
                            <button type="submit" class="ui @authenticationScheme.DisplayName.ToLower() button" name="provider" value="@authenticationScheme.DisplayName" title="Log in using your @authenticationScheme.DisplayName account"><i class="@authenticationScheme.DisplayName.ToLower() icon"></i> @authenticationScheme.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
        }
    }
</div>
